*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between; /*définit l'espacement entre le logo et les boutons de navigation*/
    padding: 20px 20px;
    background-color: rgba(0, 0, 0, 0.505);
    font-size: 20px;
}

#logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: #fc6806;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style: none; 
}

nav a {
    color: white;
    text-decoration: none;
}

/*espacement entre l'avant-dernier bouton de navigation et la bordure du dernier*/ 
nav a {
    padding-left: 25px;
}

/*bordure autour du dernier bouton de la navigation*/
#specialButton a {
    border-color: white;
    border: 2px solid white;
    border-radius: 6px;
    padding: 10px;
    margin-left: 20px;
}

/*mise en page générale pour tous les éléments de "article"*/
article {
    margin-left: 15vw;
    margin-right: 40vw;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
article img {
    width: 40%; 
}
h1 {
    font-size: 30px;
    margin-bottom: 70px;
    text-align: left;
    width: 25rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

article p {
    width: 33rem;
    text-align: left;
    line-height: 23px;
}

/*mise en page générale pour tous les éléments du type "button"*/
.glow-on-hover {
    border-radius: 6px;
    padding: 10px 10px;
    background-color: #ef8f4f;
    border-color: #ef8f4f;
    border-style: solid;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;
}

/*customisation du bouton dont le parent est "article"*/
.glow-on-hover {
    display: flex;
    justify-content: center;
    margin-top: 120px;
}
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ef8f4f;
    left: 0;
    top: 0;
    border-radius: 10px;
}




/*mise en page générale de tout le contenu qui aura pour fond cette image*/
#bckgroundImage {
    position: relative;
    height: 130vh;
    background-image: url(butterfly-gf567447a3_1280.jpg);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
}